body {
   
    background: url("pozadina.jpg")  no-repeat center center fixed;
}
#forma{
    width:80%;
    margin:30px auto;
    text-align:center;
    color:white;
    border-radius:20px;
  }
  #forma a{
      color:white;
      text-decoration:none;
  }
form{
    width:100%;
    margin:30px auto;
    border-radius:5px;
    padding:10px;
    border: 1px solid;
}
#forma label {
    display: inline-block;
    width: 10%;
    text-align: left;
    font-size: 18px;
    color: white;
  }
.input{
    width:50%;
    height:10px;
    padding:10px;
    border: 2px solid;
}
.botun{
    height:40px;
    border: 2px solid;
    border-radius:5px;
    padding: 5px 20px;
}
.task{
    text-align: center;
}
.delete{
    text-align: center;
}
.delete a{
   color:white;
   padding:1px 6px;
   border-radius:3px;
   text-decoration:none;
}
table{
    width:50%;
    margin: 30px auto;
    border-collapse: collapse;
}
tr{
    border-bottom: 1px solid;
}
th{
    font-size: 19px;
}
th,td{
    border:none;
    height:30px;
    padding:2px;
    color:white;
}
tr:hover{
    background:lightsteelblue;
}
div#layout {
    text-align: center;
  }
  
  div#container {
      position:relative;
      top:100px;
    width: 800px;
    height: 400px;
    margin: auto;
    background-color: #2F4A6D;
  }
  
  svg {
    width: 100%;
    height: 100%;
  }
  
  .bar {
    fill: #80cbc4;
  }
  
  text {
    font-size: 12px;
    fill: #fff;
  }
  
  path {
    stroke: gray;
  }
  
  line {
    stroke: gray;
  }
  
  line#limit {
    stroke: #FED966;
    stroke-width: 3;
    stroke-dasharray: 3 6;
  }
  
  .grid path {
    stroke-width: 0;
  }
  
  .grid .tick line {
    stroke: #9FAAAE;
    stroke-opacity: 0.3;
  }
  
  text.divergence {
    font-size: 14px;
    fill: #2F4A6D;
  }
  
  text.value {
    font-size: 14px;
  }
  
  text.title {
    font-size: 22px;
    font-weight: 600;
  }
  
  text.label {
    font-size: 14px;
    font-weight: 400;
  }
  
  text.source {
    font-size: 10px;
  }